.userPanel_container {
    width: 250px;
}

.container {
    grid-column: 1;
    position: sticky;
    bottom: 0;
}

.nav_container {
    display: flex;
    flex-direction: column;
    width: auto;
    min-height: calc(100vh - 100px);
}

.nav_section,
.nav_title_container {
    display: flex;
    align-items: center;
    width: 250px;
    border-left: 3px solid transparent;
    transition: all .3s;
}

.nav_title_container {
    margin: 20px 0;
}


.nav_title_container .icon_container {
    cursor: auto;
}

.nav_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    color: var(--primary);
    font-size: 1.1em;
    font-weight: 800;
    padding: 10px;
    margin: 0;
}

.nav_section:hover {
    border-left: 3px solid var(--primary);
}

.nav_section:hover .icon_arrow {
    transform: rotate(0);
}

.nav_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    color: var(--primary);
    font-size: 1.1em;
    padding: 10px;
    text-decoration: none;
}

.icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;

    cursor: pointer;
}

.link_icon {
    width: 24px;
    height: 24px;
    color: var(--primary);

}

.icon_arrow {
    transition: all .3s;
    transform: rotate(90deg);
}

.panel_container {
    display: flex;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    padding: 20px;
    grid-column: 2;
}