.footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    padding: 50px;
    background-color: #fff;
}

.social_media {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    max-width: 25%;
    background-color: #fff;

}

.social_media .ul {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;

}

.social_media .li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--primary);
    transition: all .3s ease;
}

.social_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0;
}

.social_media .icon {

    color: white;
}

.li:nth-child(1):hover {
    background-color: #4267B2;
}

.li:nth-child(2):hover {
    background-color: #C13584;
}

.li:nth-child(3):hover {
    background-color: #000;
}

.li:nth-child(4):hover {
    background-color: #00f2ea;
}

.li:nth-child(5):hover {
    background-color: #FF0000;
}

.about,
.information,
.app_links {
    display: flex;
    flex-direction: column;
    max-width: 25%;
}

.tittle {
    font-size: 1.1em;
    color: black;
}

.about .ul,
.information .ul,
.app_links .ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    min-width: 25%;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: var(--primary);
}

.app_links img {
    width: 150px;
}

.logo_container {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}

.picture {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.logo {
    width: 50%;
    height: 100%;
    object-fit: cover;
}